.visualization .frame {
    /*border: 1px solid gray;*/
    width: 984px;
    margin: auto 0;
}

.visualization .breadcrumbs {
    display: inline-block;
}

    .visualization .breadcrumbs li {
        display: inline-block;
    }

.visualization .stack {
    height: 330px;
    width: 485px;
    background-color: lightgray;
    float: left;
    position: relative;
}

    .visualization .stack .block {
        width: 100%;
        cursor: pointer;
        position: absolute;
    }

.visualization svg.lines {
    width: 60px;
    height: 334px;
    float: left;
}

    .visualization svg.lines polyline {
        stroke-width: 2px;
    }

.visualization .category-labels {
    float: left;
    width: 340px;
    font-size: 12pt;
}
    .visualization .category-label {
        overflow: hidden;
        margin-bottom: 6px;
    }

    .visualization .icon {
        float: left;
        width: 28px;
        height: 28px;
        border-radius: 100%;
    }
    
    .visualization .category-labels .cat-name {
        float: left;
        margin-left: 26px;
    }

    .visualization .category-labels .cat-value {
        float: right;
    }
    
/*animations*/

.visualization .stack .block {
    /*transition: top 2s, left 2s, width 2s, height 2s;*/
    transition-property: left;
    transition-duration: 2s;
    transition-timing-function: linear;
}